/* Reset to avoid rendering issues in different browsers.*/
* {
	box-sizing:border-box;
	position:relative;
	margin:0;
	padding:0;
}

body{
	text-align:center;
}

footer{
	background:orange;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}